	</section>
</article>
<div class="commu-tail">
	<div id="comTailCoplyright">
		<div class="infomationContent">
			<div class="infoText">
				<div class="textWrap">
					<p>
						명칭: <b>주식회사 아웃벤</b> | 등록번호: 경기 OOOOOO | <span class="mo-br"><br></span>등록연월일:
						2024. 02. 06 | 제호: 아웃벤<span>(OUTVEN)</span>
					</p>
					<p>
						발행인: KG아이티뱅크 | 편집인: 1팀 | <span class="mo-br"><br></span>발행소:
						서울특별시 동작구 장승배기로 171 2층, 3층
					</p>
					<p>
						발행연월일: 2024 02. 06 | <span class="mo-br"><br></span>전화번호: 02
						- 866 - 9367 | E-mail: help@inven.co.kr
					</p>
					<p class="gap">아웃벤의 콘텐츠 및 기사는 저작권법의 보호를 받으므로, 무단 전재, 복사, 배포 등을
						금합니다.</p>
					<p>
						Copyrightⓒ <span class="copyrightInven">Outven.</span> All rights
						reserved.
					</p>
				</div>
			</div>
			<div class="infoBanner">
				<div class="onc">
					<span>인터넷 신문 위원회 배너</span>
				</div>
				<div class="isms">
					<div class="txt-box">
						<p>2024.02.06</p>
						<p>아웃벤 온라인서비스 운영</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>