<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta name="keywords"
	content="롤아웃벤,롤 전적검색,롤 기록실,e스포츠 뉴스,챔피언 공략,프로빌드,lol아웃벤,리그오브레전드,league of legends,롤,lol,롤공략" />
<meta name="description"
	content="롤아웃벤, 롤 전적검색, 롤 기록실, e스포츠 뉴스, 챔피언 공략, 프로빌드,lol아웃벤,리그오브레전드,카운터 픽,매치 히스토리, e스포츠 뉴스/기록실, 스킨 갤러리, 래더 랭킹" />
<meta name="naver-site-verification"
	content="3a508505e9bf09f6b8b7abe782e34f3cc895eb65" />
<meta name="inven-site" content="lol" />
<meta name="inven-sitename" content="리그오브레전드" />
<meta property="og:type" content="website" />
<meta property="og:title" content="리그오브레전드 아웃벤" />
<meta property="og:description"
	content="롤아웃벤, 롤 전적검색, 롤 기록실, e스포츠 뉴스, 챔피언 공략, 프로빌드,lol아웃벤,리그오브레전드,카운터 픽,매치 히스토리, e스포츠 뉴스/기록실, 스킨 갤러리, 래더 랭킹" />
<meta id="inven-verification" name="inven-verification"
	content="p6Cde5t8gn9CsVfGKBKfaQ==" />
<title>리그오브레전드 아웃벤</title>
<link rel="stylesheet" href="../css/joinForm.css">
<link rel="stylesheet" href="../css/outven.css">
<link rel="stylesheet" href="../css/outven2.css">
<link rel="stylesheet" href="../css/outven3.css">
<link rel="stylesheet" href="../css/outven4.css">
<link rel="stylesheet" href="../css/outven5.css">
<link rel="stylesheet" href="../css/outven6.css">
<link rel="stylesheet" href="../css/outven7.css">
<link rel="stylesheet" href="../css/outven8.css">
<link rel="stylesheet" href="../css/footer.css">
<script src="../lib/jquery-3.7.1.min.js"></script>
<style type="text/css">
#powerbbsContent div.data-inven-action, .memberProfile .powerbbsContent div.data-inven-action,
	div.data-inven-action {
	border: 1px solid #cdcdcd;
	border-radius: .248em;
	padding: .4em;
	_zoom: 1;
	width: auto;
	font-size: 12px;
	margin: 2px 0;
	display: inline-block;
	_display: inline;
	zoom: 1;
}

div.data-inven-action label {
	margin-right: 2px;
	display: block;
	float: left;
	font-size: 12px;
	height: 18px;
	line-height: 19px;
}

div.data-inven-action input {
	width: 120px;
	display: block;
	float: left;
	border: 1px solid #9c9c9c;
	padding: 1px;
	height: 18px;
	line-height: 15px;
}

div.data-inven-action button {
	margin-left: 2px;
	width: 3em;
	text-align: center;
	text-decoration: none !important;
	display: block;
	float: left;
	padding: 1px .2em;
	border: 1px solid #c9c9c9;
	font-size: 12px;
	height: 18px;
	_height: 18px;
	line-height: 15px;
	background-color: #dedede;
	cursor: pointer;
	white-space: nowrap;
}

div.data-inven-action:after {
	content: " ";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}

div.data-inven-action div.action-wrapper {
	position: relative;
	float: left !important; /*position: relative; right: -50%;*/
}

div.data-inven-action div.action-wrapper div.inner-wrapper {
	float: none !important; /*position: relative; right: 50%;*/
	white-space: nowrap;
}

div.data-inven-action div.action-wrapper div.inner-wrapper:after {
	content: " ";
	display: table;
	clear: both;
}

center.clear div.data-inven-action div.action-wrapper {
	text-align: center;
}

center.clear div.data-inven-action div.action-wrapper div.inner-wrapper
	{
	display: inline-block !important;
	_display: inline !important;
	_zoom: 1
}

#powerbbsContent div.data-inven-action-full, .memberProfile .powerbbsContent div.data-inven-action-full,
	div.data-inven-action-full {
	display: block;
}

div.data-inven-action-full-center div.action-wrapper {
	float: none !important;
	position: relative; /*right: -50%;*/
	text-align: center;
}

div.data-inven-action-full-center div.action-wrapper div.inner-wrapper {
	float: none !important;
	position: relative; /*right: 50%;*/
	display: inline-block !important;
	_display: inline !important;
	_zoom: 1;
}

div.data-inven-action-full-center div.action-wrapper div.inven-profile-action-result
	{
	position: relative; /*right: 50%;*/
}

div.data-inven-action-full-right div.action-wrapper {
	float: right !important;
}

div.data-inven-action-full-left div.action-wrapper {
	float: left;
}

#powerbbsContent div.data-inven-action-left, .memberProfile .powerbbsContent div.data-inven-action-left,
	div.data-inven-action-left {
	display: block;
	float: left !important;
	clear: both;
	width: auto;
}

#powerbbsContent div.data-inven-action-right, .memberProfile .powerbbsContent div.data-inven-action-right,
	div.data-inven-action-right {
	display: block;
	float: right !important;
	clear: both;
	width: auto;
}

div.data-inven-action-center {
	clear: both;
	width: auto;
	float: none !important;
}

div.inven-profile-action-result {
	clear: both;
	float: none !important;
	display: block !important;
	width: auto;
	max-width: 100%;
	margin-top: 4px;
	border: 1px solid #cdcdcd;
	border-radius: .248em;
	padding: .4em 0;
	font-size: 12px;
	text-align: left;
	text-indent: 0;
	white-space: nowrap;
	_zoom: 1;
}

div.inven-profile-action-result:after {
	content: " ";
	height: 0;
	overflow: hidden;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}

div.inven-profile-action-result div.wrap {
	white-space: normal !important;
	display: inline-block !important;
	_display: inline;
	_zoom: 1;
	width: auto;
	padding: 0 .4em;
}

div.inven-profile-action-result-left {
	float: left !important;
	width: auto;
}

div.inven-profile-action-result-right {
	float: right !important;
	width: auto;
}

div.inven-profile-action-result-center {
	float: none !important;
	display: inline-block !important;
	_display: inline !important;
	_zoom: 1;
	width: auto;
}

div.inven-profile-action-result-full-left, div.inven-profile-action-result-full-center,
	div.inven-profile-action-result-full-right {
	float: none !important;
	width: auto;
}

div.inven-profile-action-result-full-center {
	text-align: center;
}

div.inven-profile-action-result-full-right {
	text-align: right;
}

div.data-inven-action-full-center div.inven-profileaction-result {
	position: relative; /*right: 50%;*/
	_margin-top: 8px;
}

div.pane-hidden {
	display: none !important;
}

center.clear {
	clear: both;
}
</style>
<script type="text/javascript">
	function admin() {
		var width = 600;
		var height = 450;
		var left = (screen.width - width) / 2;
		var top = (screen.height - height) / 2;
		var popupWindow = window
				.open('/adminLoginForm', 'Popup', 'width=' + width + ',height='
						+ height + ',left=' + left + ',top=' + top);
	}
</script>
</head>
<body class="styler-community has-leftmenu has-right pt-main">
	<div id="topslideAd" class="topslideAd"></div>
	<div class="topbar " id="comHeadlink">
		<div class="left user_area clearfix">
			<div>
				<img src="../image/icons/key.png" onclick="admin()"
					style="cursor: pointer;">
			</div>
		</div>
		<div class="right user_area clearfix">

			{{#member}}
			<div>
				<button class="btn_sign login" onclick="location.href='/logout'">로그아웃</button>
			</div>
			<div>
				<button class="btn_sign login" onclick="location.href='/modifyForm'">회원정보수정</button>
			</div>
			{{/member}} {{^member}}
			<div>
				<button class="btn_signin" onclick="location.href='/joinForm'">회원가입</button>
			</div>
			<div>
				<button class="btn_sign login" onclick="location.href='/loginForm'">로그인</button>
			</div>
			{{/member}}
		</div>
	</div>
	<div id="lolBody"
		style="background: url('../image/header_image.jpg') no-repeat top center; background-color: white"
		class="bg-min-width">
		<div class="commu-wrap">
			<section class="commu-content ad-layout">
				<header>
					<h1 class="has-logo-image">
						<a href="/index"> <img src="../image/i8206687393.png"
							alt="리그오브레전드 아웃벤">
						</a>
					</h1>
				</header>
				<nav id="commu-nav">
					<ul>
						<li class="system"><a href="/index" target="_self"> <span
								class="text">홈</span>
						</a></li>
						<li class="system"><a
							href="/champ_skin/champSkinList" target="_self">
								<span class="text">스킨갤러리</span>
						</a></li>
						<li class="system"><a
							href="/champ_board/championList" target="_self">
								<span class="text">챔피언</span>
						</a>
						</li>
						<li class="system"><a
							href="/board/tipBoardList"
							target="_self"> <span class="text">팁 & 공략</span>
						</a></li>
						<li class="system"><a
							href="/board/recommend_BoardList" target="_self">
								<span class="text">추천 게시판</span>
						</a></li>
					</ul>
				</nav>