<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	if({{result}}){
		alert("댓글 삭제가 실패했습니다.");
		
	}else{
		alert("댓글 삭제가 성공했습니다.");
	}
	location.href = document.referrer;
	//location.href="/board/reporter_news_BoardList";
</script>
</head>
<body>
</body>
</html>