<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	if({{result}}){
		alert("답글 저장이 성공했습니다.");
	}else{
		alert("답글 저장이 실패했습니다.");
	}
	location.href="/board/reporter_news_BoardView?board_num={{board_num}}&pg={{pg}}";
</script>
</head>
<body>
	test
</body>
</html>