
{{>layouts/header}}
<article>
	{{>layouts/nav}}
		<script>
			if(!{{result}}){
				alert("삭제 성공");
				location.href="reporter_news_BoardList?pg={{pg}}"
			} else{
				alert("삭제 실패");
				history.back();
			}
		</script>
		
</article>
{{>layouts/footer}}
