<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>아웃벤 아이디 찾기</title>
<link rel="stylesheet" href="../css/joinForm.css">
<link rel="stylesheet" href="../css/footer.css">
</head>
<body>
	<div class="member">
		<!-- 로고 -->
		<a href="/index"><img class="logo" src="../image/logo.png"
			width="350" style="align-content: center;"></a>
			
		<!-- 이름 -->
		<div class="field" style="margin-top: 100px;">
			<h2 align="center">당신의 아이디는 <span style="text-decoration: underline;">{{id}}</span> 입니다.</h2>
		</div>

		<div align="center">
			<button type="button" class="btn" style="margin: 50px; 
			width: 200px; height: 100px;" 
			onclick="location.href='/pwsearchForm'">비밀번호 찾기</button>
			<button type="button" class="btn" style="margin: 50px; 
			width: 200px; height: 100px;" 
			onclick="location.href='/loginForm'">로그인 창으로 이동</button>
		</div>
	</div>
	<div class="member-footer">
		{{>layouts/footer}}
	</div>