<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[ERROR] 회원가입 실패</title>
<link rel="stylesheet" href="../css/joinForm.css">
</head>
<body>
	<!-- 1. 로고 -->
	<a href="/index"><img class="logo" src="../image/logo.png"
		width="350" style="align-content: center;"></a>
		가입 실패
		아웃벤 고객센터에 문의해주세요
</body>
</html>