<!DOCTYPE html>
<html lang="en">
<head>
<title>아웃벤 로그아웃중</title>
<meta charset="UTF-8">
</head>
<script type="text/javascript">
	alert("로그아웃 되었습니다.");
	location.href="/index";
</script>
<body>
</body>
</html>