<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>아웃벤 아이디 찾기</title>
<link rel="stylesheet" href="../css/joinForm.css">
<link rel="stylesheet" href="../css/footer.css">
</head>
<body>
	<article>
	<!-- 1. 로고 -->
		<div align="center" style="margin: 50px;">
			<a href="/index"><img class="logo" src="../image/logo.png"
			width="550" align="middle"></a>
		</div>
		<div align="center" style="margin-bottom: 275px;">
			<button type="button" class="btn" style="margin: 50px; 
			width: 200px; height: 100px;" 
			onclick="location.href='/idsearchForm'">아이디 찾기</button>
			<button type="button" class="btn" style="margin: 50px; 
			width: 200px; height: 100px;" 
			onclick="location.href='/pwsearchForm'">비밀번호 찾기</button>
		</div>
	</article>
{{>layouts/footer}}