<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	if({{result}}){
		alert("답글 입력 성공");
	}else{
		alert("답글 입력 실패");
	}
	location.href="/champ_board/championView?champ_code={{champ_code}}&pg={{pg}}";
</script>
</head>
<body>

</body>
</html>